.HomePage {
	width: 100%;
	height: auto;
	background-color: var(--dark-bg);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hp-group {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
